# Project exclude paths
/mingrui-shop-basics/mingrui-shop-basic-zuul-serve/target/
/mingrui-shop-basics/mingrui-shop-basics-eureka-server/target/
/mingrui-shop-commoms/mingrui-shop-common-core/target/
/mingrui-shop-service/mingrui-shop-servicexxx/target/
/mingrui-shop-service-api/mingrui-shop-service-api-xxx/target/